
div{
    background-color: rgb(206, 149, 149);width: 800px;height:1200 px;margin-left:100px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-decoration: underline;
    text-align: center;color: rgb(104, 9, 9);
}
.box{
    background-color: rgb(230, 192, 192); width: 700px;margin-left: 30px;border-radius: 4px;
  border: 5px 5px ;border-color: brown;
}
.personinfo{margin-left: 30px;color:brown ;text-decoration: none;

}
label{
    text-decoration: underline;color: rgb(87, 35, 35);font-size: large;
}
.info{
    margin-left: 50px;background-color: rgb(240, 211, 211);width: 200px;
    
}
img{
    margin-left: 50px;padding-bottom: 50px;padding-right: 20px;float: right;
}
textarea{width: 400px;height: 100px;background-color:rgb(240, 211, 211) ;}

button{
    background-color: brown;color:rgb(240, 211, 211) ;border-radius: 4px;align-items:center;
    margin: 20PX 100PX;
}
:hover>button{
  background-color: rgb(218, 107, 17);
}